<style>
  #containers { float: left; width: 100%; height: 100%; min-height: 12em; }
  .containers.custom-state-active { background: #eee; }
  .containers li { float: left; width: 165px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .containers li h5 { margin: 0 0 0.4em; cursor: move; }
  .containers li a.in { float: left; }
  .containers li a.out { float: right; }
</style>

<script>
  $(function() {
    var $containers = $("#containers");
 
    $("li", $containers).draggable({
      cancel: "a.ui-icon",
      revert: "invalid",
      containment: "document",
      helper: "clone",
      cursor: "move"
    });
    
    $containers.droppable({
      accept: "#component li",
      activeClass: "custom-state-active",
      drop: function(event, ui) {
        //recycleImage( ui.draggable );
        alert('hahaha2');
      }
    });

  });
</script>

<div class="ui-widget ui-helper-clearfix">
  <ul id="containers" class="containers ui-helper-reset ui-helper-clearfix">
    <% for container in @containers %>
      <li class="ui-widget-content ui-corner-tr">
        <h5 class="ui-widget-header"><%= truncate container.name, legth: 21 %></h5>
        <% for input_cast in container.input_casts %>
          <a href="#" title="<%= input_cast.cast.name %>" class="ui-icon <%= img_class(input_cast.cast.sys) %> in"><%= input_cast.cast.name %></a>
        <% end %>
        <% for output_cast in container.output_casts %>
          <a href="#" title="<%= output_cast.cast.name %>" class="ui-icon <%= img_class(output_cast.cast.sys) %> out"><%= output_cast.cast.name %></a>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>