<% items = data.map {|item| "['#{item[0].to_s}', #{item[1].to_i}]"} %>

<script>
  function drawColumn() {
    var data = new google.visualization.DataTable();
    
    data.addColumn('string', '<%= columns['x_axis'] %>');
    data.addColumn('number', '<%= columns['y_axis'] %>');

    data.addRows([<%= raw(items.join(',')) %>]);

    var options = {
      hAxis: {
        title: '<%= columns['x_axis'] %>'
      },
      vAxis: {
        title: '<%= columns['y_axis'] %>'
      }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('<%= column_id %>'));

    chart.draw(data, options);
  }

  $(function() {
    drawColumn();
  });
</script>

<div id="<%= column_id %>" style="width:98%; height:98%;"></div>