<script>
  $(function() {
    $('#y_axis_as').change(function() {
      if ($(this).val() != "") {
        $('#group-options').show();
      } else {
        $('#group-options').hide();
      }
    });

    $('#report_id').change(function() {
      $('#name').val($('#report_id option:selected').text());
    });
  });
</script>

<div id="widget-settings" title="Widget Settings" style="display:none">
  <table>
    <tr>
      <td>Name:</td>
      <td><%= text_field_tag 'name' %></td>
    </tr>
    <tr>
      <td>Reports:</td>
      <td><%= select_tag 'report_id' %></td>
    </tr>
    <tr>
      <td>Refresh Time:</td>
      <td><%= select_tag 'refresh_time' %></td>
    </tr>
    <tr>
      <td>Limits:</td>
      <td><%= select_tag 'limits' %></td>
    </tr>
  </table>
  
  <table id="columns-options" style="display:none">
    <tr>
      <td>X axis:</td>
      <td><%= select_tag 'x_axis' %></td>
    </tr>
    <tr>
      <td>Y axis:</td>
      <td><%= select_tag 'y_axis' %></td>
    </tr>
    <tr>
      <td>Y axis as:</td>
      <td><%= select_tag 'y_axis_as', options_for_select(['', 'SUM', 'COUNT']) %></td>
    </tr>
    <tr id="group-options" style="display:none">
      <td>X axis GROUP BY:</td>
      <td><%= select_tag 'x_axis_group', options_for_select(['YYYY', 'YYYY-MM', 'YYYY-MM-DD', 'YYYY-MM-DD HH24', 'YYYY-MM-DD HH24:MI', 'YYYY-MM-DD HH24:MI:SS']) %></td>
    </tr>
  </table>
  
  <br/>
  <a href="#" onclick="$('#last-values').toggle('slow')">Show Lastest</a>
  <div id="last-values" style="display:none"></div>
</div>
